{% for field in form %}
<div class="form-row {% if field.field.widget.input_type == 'hidden' %}{% else %}{% endif %}{% if 'looking_for' in field.name or 'comment' in field.name or 'body' in field.name or field.name == 'text' %} full{% endif %}">
  {% if field.field.widget.input_type != 'hidden' %}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
  {{ field }}
  {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
  {{ field.errors }}
</div>
{% endfor %}
